.places {
  max-width: 984px;
  margin: 92px 148px;
}

@media screen and (max-width: 1152px) {
  .places {
    margin-right: 48px;
    margin-left: 48px;
  }
}

@media screen and (max-width: 896px) {
  .places {
    margin: 88px 24px;
  }
}

@media screen and (max-width: 750px) {
  .places {
    margin: 64px 16px;
  }
}

@media screen and (max-width: 321px) {
  .places {
    margin-right: 0;
    margin-left: 0;
  }
}